 <br/> <br/>
<center><h1>Petite page de contact</h1>
 <br/> <br/>
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header"> Contact</div>
  <div class="card-body">
    <h5 class="card-title"> Marine El Adouzi</h5>
    <p class="card-text"> Voici le lien vers le git du projet : <a href="https://github.com/meladouz/Gossip_rails.git">Gossip_rails</a><br/>
    Et sinon sur slack ! </p>
  </div>
</div>

</center>
