 <br/> <br/>
<center><h1>Présentation de la team :</h1>
 <br/> <br/>
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header"> Team Montpellier !</div>
  <div class="card-body">
    <p class="card-text"> Ce projet a été réalisé par <br/>
      Marine El Adouzi <br/> <br/>
       en étroite collaboration avec : <br/> <br/>
       Jordi Le guet, Paul Hennin,  <br/>
       Terence Le Guet, Leo Vanel ! </p>
  </div>
</div>

</center>
